.page {
  min-width: 1000px;
  padding: 2.5rem 2rem;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 0.7em;
}

.gallery {
  &Item {
    display: inline-block;
    width: 25%;
    padding-bottom: 29%;
    height: 0;
    position: relative;
    vertical-align: top;
    cursor: text;
    //overflow: hidden;
  }
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  color: wheat;
  overflow: hidden;

  &:hover,
  &:visited {
    color: wheat;
  }

  &Content,
  &Hover,
  &Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &Image {
    object-fit: cover;
    z-index: 1;
    transform: scale(1);
    transition: transform 3s;
  }

  &Hover {
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.3s;
  }

  &Content {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.3s;
  }

  &Title {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 0.2em;
    color: #daa35b;
  }

  &:hover {
    .cardHover,
    .cardContent {
      opacity: 1;
    }

    .cardImage {
      transform: scale(1.2);
    }
  }
}

.title,
.cardTitle,
.cardDescription {
  &::selection {
    color: #ffb7b7;
    background: inherit;
  }
}

img::selection {
  background: #ffb7b7;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  min-width: 1023px;
  min-height: 600px;
  z-index: 999;
  color: black;
  opacity: 0;

  &_Opened {
    display: block;
  }

  &_Opening {
    display: block;

    .modalImage {
      transition: none;
    }
  }

  &Image {
    position: absolute;
    width: 500px;
    object-fit: cover;
    display: block;
    z-index: 2;
    opacity: 0.3;
    height: auto;
    transform: translate3d(0, 0, 0) scale(1);
    transform-origin: 50% 50%;
    backface-visibility: hidden;
    transition: transform 0.6s, opacity 0.4s;
  }

  &Controls {
    display: flex;
    flex-direction: column;
    width: 3rem;
    top: 0;
    position: absolute;
    top: 0;
    z-index: 7;
    justify-content: center;
    right: 22%;
    margin-top: 3000px;
    height: 400px;
    transition: margin 0.7s;
  }

  &Summary {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    background: #2d5051;
    color: #fff;
    width: 0;
    overflow: hidden;
    transition: width 0.7s;

    &Content {
      padding: 0.5rem 5rem;
      opacity: 1;
      white-space: nowrap;
      transition: opacity 0.6s;
    }
  }

  &Title {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;

    &::selection {
      color: #ffb7b7;
    }
  }

  &Description {
    color: #daa35b;

    &::selection {
      color: #ffb7b7;
    }
  }

  &Close {
    position: absolute;
    top: 0;
    width: 3rem;
    height: 3rem;
    border: none;
    background: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-image: url("../../assets/images/arrows/close.svg");
    cursor: pointer;
  }

  &Navs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &Nav {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid greenyellow;
    background-size: 80%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: cell;
    text-align: center;
    opacity: 0.9;
    transition: background 0.3s, opacity 0.3s;

    &:disabled {
      pointer-events: none;
      opacity: 0.2;
    }

    &:hover {
      opacity: 0.6;
      background-color: gainsboro;
    }

    &Prev {
      background-image: url("../../assets/images/arrows/arrow-up.svg");

      &:hover {
        background-image: url("../../assets/images/arrows/arrow-up-white.svg");
      }
    }

    &Next {
      background-image: url("../../assets/images/arrows/arrow-down.svg");

      &:hover {
        background-image: url("../../assets/images/arrows/arrow-down-white.svg");
      }
    }
  }

  &Counter {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem 0;

    &::selection {
      color: #ffb7b7;
    }
  }
}
